* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: #A01601;
  text-decoration: underline; }
  a:hover {
    color: #a0018b; }

ul li {
  list-style-type: none;
  list-style-image: url(../img/list-item.png); }

iframe {
  margin: 1vw 1vh; }

@keyframes escalarImg {
  20% {
    transform: scale(0.99); }
  30% {
    transform: scale(0.98); }
  40% {
    transform: scale(0.97); }
  50% {
    transform: scale(0.96); }
  60% {
    transform: scale(0.97); }
  70% {
    transform: scale(0.98); }
  80% {
    transform: scale(0.99); } }

.franklin, .logo__texto, .secciones__texto, .index__imagen__principal__texto, .footer__texto {
  font-family: "Libre Franklin", sans-serif;
  color: black; }

.poppins, .articulos__texto, .nosotros__fotos__texto, .atencion__texto, .consultas__formulario__texto, .vuelos__caja__texto {
  font-family: "Poppins", sans-serif;
  color: black; }

.logo__texto {
  font-size: 64px; }

.secciones__texto {
  font-size: 2rem; }

.articulos__texto--titulo {
  font-size: 3.6rem;
  line-height: 3.8rem;
  text-align: center; }

.articulos__texto--contenido {
  font-size: 1.6rem;
  line-height: 2rem; }

.index__imagen__principal__texto {
  font-size: 2rem; }

.footer__texto--contenido {
  font-size: 1.6rem; }

.footer__texto--titulo {
  font-size: 2rem;
  text-decoration: underline; }

.nosotros__fotos__texto {
  font-size: 1.6rem;
  line-height: 2rem; }

.nosotros__fotos__texto--nombres {
  font-weight: 900; }

.atencion__texto {
  text-align: center; }
  .atencion__texto--titulo {
    font-size: 3.6rem;
    font-weight: 600;
    text-decoration: underline;
    color: black; }
  .atencion__texto--contenido {
    font-size: 1.6rem;
    line-height: 2rem;
    color: black; }
  .atencion__texto--contacto {
    font-weight: 600;
    color: black; }

.consultas__formulario__texto {
  font-size: 1.6rem;
  line-height: 2em;
  font-weight: 300; }

.vuelos__caja__texto {
  font-size: 1.6rem;
  line-height: 2rem; }
  .vuelos__caja__texto--nombres {
    font-weight: 600; }

body {
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0%; }

nav {
  background-color: rgba(105, 96, 96, 0.212);
  top: 0px; }

.logo {
  height: 57px;
  width: 80px; }

.secciones a {
  color: black; }

.secciones a:hover {
  background-image: linear-gradient(to top, #ffffff79, #ffffff38);
  color: black; }

.footer {
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; */ }
  .footer p {
    padding-left: 0.5vw; }
  .footer p, .footer li {
    font-weight: 600; }

footer {
  background-color: rgba(105, 96, 96, 0.212); }
  footer div {
    width: 100%; }

.rs-icon {
  max-width: 32px; }

.fotos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .fotos img {
    padding: 1vh 1vw;
    max-width: 72vw; }
  .fotos img:hover {
    animation-name: escalarImg;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }

.index {
  padding: 1vw 1vh;
  margin: 5vh 0vw;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18); }

.articulos__listas {
  list-style-position: inside;
  margin-left: 25px; }

.main__video {
  padding: 1vw 1vh;
  max-width: 95vw; }

#gridVideo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center; }

.nosotros__rows {
  padding: 0.5vw 0.5vh; }

.nosotros__bloques {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18); }

.atencion__caja, .contacto__rows {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18); }

.contacto__rows {
  padding: 1vw 1vh;
  margin: 1vw 1vh; }

.vuelos__caja {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
  margin: 0.5vw 0.5vh;
  padding: 1vw 1vh; }

main {
  margin: 5vh 0vw; }

@media only screen and (min-width: 1px) {
  iframe {
    max-width: 80vw; } }

@media only screen and (min-width: 768px) {
  .main__video {
    max-width: 80vw; }
  iframe {
    max-width: 35vw; } }

@media only screen and (min-width: 1200px) {
  .index {
    max-width: 65vw; }
  .main__video {
    max-width: 80vw; } }
