* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: blue;
  text-decoration: underline; }
  a:hover {
    color: purple; }

@keyframes escalarImg {
  20% {
    transform: scale(0.99); }
  30% {
    transform: scale(0.98); }
  40% {
    transform: scale(0.97); }
  50% {
    transform: scale(0.96); }
  60% {
    transform: scale(0.97); }
  70% {
    transform: scale(0.98); }
  80% {
    transform: scale(0.99); } }

.franklin, .logo__texto, .secciones__texto, .index__imagen__principal__texto, .footer__texto {
  font-family: "Libre Franklin", sans-serif; }

.poppins, .articulos__texto, .nosotros__fotos__texto, .atencion__texto, .consultas__formulario__texto, .vuelos__caja__texto {
  font-family: "Poppins", sans-serif; }

.logo__texto {
  font-size: 64px;
  color: black; }

.secciones__texto {
  font-size: 2.4rem; }

.articulos__texto--titulo {
  font-size: 3.6rem;
  line-height: 3.8rem;
  text-align: center; }

.articulos__texto--contenido {
  font-size: 2rem;
  line-height: 2.4rem; }

.index__imagen__principal__texto {
  font-size: 2.4rem; }

.footer__texto--contenido {
  font-size: 2rem; }

.footer__texto--titulo {
  font-size: 2.4rem;
  text-decoration: underline; }

.nosotros__fotos__texto {
  font-size: 2rem;
  line-height: 2.2rem; }

.nosotros__fotos__texto--nombres {
  font-weight: 900; }

.atencion__texto {
  text-align: center; }
  .atencion__texto--titulo {
    font-size: 3.6rem;
    font-weight: 600;
    text-decoration: underline; }
  .atencion__texto--contenido {
    font-size: 2rem;
    line-height: 2.2rem; }
  .atencion__texto--contacto {
    font-weight: 600; }

.consultas__formulario__texto {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 300; }

.vuelos__caja__texto {
  font-size: 1.6rem;
  line-height: 2rem; }
  .vuelos__caja__texto--nombres {
    font-weight: 600; }

body {
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0%; }

nav {
  background-color: #A1FFFD;
  top: 0px; }

.logo {
  height: 57px;
  width: 80px; }

.secciones a {
  color: black; }

.secciones a:hover {
  background-image: linear-gradient(to top, #ffffff79, #ffffff38);
  color: black; }

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #8F522F; }
  .footer p {
    padding-left: 0.5vw; }

.fotos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .fotos img {
    padding: 1vh 1vw;
    max-width: 80vw; }
  .fotos img:hover {
    animation-name: escalarImg;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }

.index {
  padding: 1vw 1vh;
  background-color: rgba(105, 96, 96, 0.548);
  /* max-width: 80vw; */
  margin: 5vh 0vw;
  border: 2px solid black; }

.articulos__listas {
  list-style-position: inside;
  margin-left: 25px; }

.main__video {
  padding: 1vw 1vh;
  max-width: 95vw; }

#gridVideo {
  padding-top: 1vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center; }

.nosotros__rows {
  padding: 0.5vw 0.5vh; }

.nosotros__rows--fondo {
  background-color: rgba(105, 96, 96, 0.212); }

.atencion__caja, .contacto__rows {
  border: 2px solid black; }

.atencion__caja--fondo, .contacto__rows--fondo {
  background-color: rgba(105, 96, 96, 0.548); }

.contacto__rows {
  padding: 1vw 1vh;
  margin: 1vw 1vh; }

.vuelos__caja {
  border: 1px solid black;
  margin: 0.5vw 0.5vh;
  padding: 0.5vw 0.5vh; }

.vuelos__caja--fondo {
  background-color: rgba(105, 96, 96, 0.548); }

@media only screen and (min-width: 768px) {
  .main__video {
    max-width: 80vw; } }

@media only screen and (min-width: 1200px) {
  .index {
    max-width: 65vw; }
  .main__video {
    max-width: 80vw; } }
