* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
nav {
    background-color: #A1FFFD;
    top: 0px;
}

main {
    background-image:url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #8F522F;
}

a {
    text-decoration: none;
}

video {
    max-width: 95vw;
}

.logoImg {
    height: 64px;
    width: 90px;
}
.logoTexto {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 64px;
}

.flexNavLogo {
    display: flex;
    justify-content: flex-start;
    padding-top: 1vh;
    padding-left: 0.2vw;
}

.flexNavItems ul{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flexNavItems li{
    list-style-type: none;
    padding: 1vh 1.2vw;
    transition: all 1s;
}

.flexNavItems li:hover {

    animation-name: gradientAnim;
    animation-iteration-count: 1;
    animation-duration: 5s;
    background-image: linear-gradient(to top,#ffffff79, #ffffff79 );
}

@keyframes gradientAnim {
    0% {
        background-image: linear-gradient(to top,#ffffff79, #ffffff00 );
    }

    25% {
        background-image: linear-gradient(to top,#ffffff79, #ffffff1a );
    }
    50% {
        background-image: linear-gradient(to top,#ffffff79, #ffffff50 );
    }
    75% {
        background-image: linear-gradient(to top,#ffffff79, #ffffff6b );
    }
    100% {
        background-image: linear-gradient(to top,#ffffff79, #ffffff79 );
    }
}

.flexNavItems li:visited {
    color: black;
}

/* para seccion fotos */

.flexFotos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
/* solo para img en seccion fotos */

.fotosImg {
    padding: 1vh 1vw;
    max-width: 80vw;
}

.fotosImg:hover {
    animation-name: escalarImg;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    }
    

@keyframes escalarImg {
    25% {
        transform: scale(0.95);
    }
    40% {
        transform: scale(0.92);
    }
    50%{
        transform: scale(0.90);
    }
    60% {
        transform: scale(0.92);
    }
    75%{
        transform: scale(0.95);
    }
}

/* para texto en nav y bajada del video en index*/

.textoSeccionesBajadaImagenes {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.4rem;
}

/* para index */

.divIndex{
    padding: 1vw 1vh;
    background-color:rgba(105, 96, 96, 0.212);
    max-width: 80vw;
    margin: 1vh 0vw;
}

/* titulo y contenido en articulos de index */

.tituloArticulos {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.contenidoArticulos {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
}

/* para la mayoría de listas como las del fondo de index o contacto en footer */
.listasFondoIndex {
    list-style-position: inside;
    margin-left: 25px;
}

/* para footer */

.textoFooter {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.textoContacto {
    font-size: 28px;
    text-decoration: underline;
}

.flexNavFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.flexNavFooter p, .flexNavFooter ul {
    padding-left: 0.5vw;
}

.gridNosotros {
    display: grid;
    grid-template-areas: 
        "foto1"
        "persona1" 
        "foto2" 
        "persona2"
        "foto3"
        "persona3"
        "foto4" 
        "persona4";
        grid-template-columns: 1fr;
        grid-template-rows: (8, 1fr);
        justify-items: center;
        align-items: center;
    padding: 1vh 1vw;
}

.foto1 {
    grid-area: foto1;
    max-width: 30vw;
    padding: 1vh 1vw;
}

.foto2 {
    grid-area: foto2;
    max-width: 30vw;
    padding: 0vh 1vw;
}

.foto3 {
    grid-area: foto3;
    max-width: 30vw;
    padding: 1vh 1vw;
}

.foto4 {
    grid-area: foto4;
    max-width: 30vw;
    padding: 1vh 1vw;
}

.persona1 {
    grid-area: persona1;
}

.persona2 {
    grid-area: persona2;
}

.persona3 {
    grid-area: persona3;
}

.persona4 {
    grid-area: persona4;
}

.textoFotosNosotros {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
}

.paddingNosotros {
    padding: 1vh 1vw;
}

.gridNosotros > img, .gridNosotros > p {
    margin: 0.5vh 0.5vw;
    padding: 0.5vh 0.5vw;
}

#gridVideo {
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    }

#gridIndex {
    display: grid;
    grid-template-areas: 
    "articulo1"
    "articulo2"
    "articulo3"
    "articulo4";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    justify-items: center;
}

.articulo1 {
    grid-area: articulo1;
}

.articulo2 {
    grid-area: articulo2;
}

.articulo3 {
    grid-area: articulo3;
}

.articulo4 {
    grid-area: articulo4;
}

@media only screen and (min-width: 768px){
    .gridNosotros {
        grid-template-areas: 
        "foto1 persona1"
        "foto2 persona2"
        "foto3 persona3"
        "foto4 persona4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        }

    video {
        max-width: 80vw;
    }
}

@media only screen and (min-width: 1200px){
    .gridNosotros {
        grid-template-areas: 
        "foto1 persona1 foto2 persona2"
        "foto3 persona3 foto4 persona4";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        }
    
    .textoFotosNosotros {
        font-size: 1.6rem;
    }        
    
    #gridIndex {
        grid-template-areas: 
        "articulo1 articulo2"
        "articulo3 articulo4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        }

    .divIndex {
        max-width: 45vw;
    }

    video {
        max-width: 80vw;
    }
}

