* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #A1FFFD;
    position: sticky;
    top: 0px;
}

nav ul li{
    display: inline-block;
}

ul ul{
    position: absolute;
    display: none;
}

ul ul li{
    display: block;
    background-color: #a1fffd71;
    border: 1px;
    border-style: solid;
    border-color: black;
}

ul li:hover ul{
    display: block;
}

main {
    background-image:url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    background-color: #8F522F;
}

a {
    text-decoration: none;
}

main img {
    padding: 40px;
    border: black;
    border-style: solid;
    margin: 40px;
}


.logoImg {
    height: 64px;
    width: 90px;
}
.logoTexto {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 64px;
}

.flexNavLogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexNavItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 1vw;
}

.textoSeccionesBajadaImagenes {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    list-style-type: circle;
}

.textoFooter {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

.imgPrincipalIndex{
    text-align: center;    
}

.flexIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.divIndex{
    padding: 25px;
    background-color:rgba(105, 96, 96, 0.212);
    width:45vw;
    margin: 1vh 0vw;
}

.tituloArticulos {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
}

.contenidoArticulos {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.textoContacto {
    font-size: 28px;
    text-decoration: underline;
}

.listasFondoIndex {
    list-style-position: inside;
    margin-left: 25px;
}

