$gris-oscuro-transparente-claro: rgba(105, 96, 96, 0.212);

$gris-oscuro-transparente-oscuro: rgba(105, 96, 96, 0.548);

$color-nav: #A1FFFD;

$color-footer: #8F522F;

$font-poppins: 'Poppins', sans-serif;

$font-franklin: 'Libre Franklin', sans-serif;
