.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    p {
        padding-left: 0.5vw;
    }

    p, li {
        font-weight: 600;
    }
}

footer {
    background-color: $gris-oscuro-transparente-claro;
}