.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    p {
        padding-left: 0.5vw;
    }
}

footer {
    background-image:url(../img/fondoFooter.png);
    background-position: center;
    background-size:contain;
}