.contacto__rows {
    padding: 1vw 1vh;
    margin: 1vw 1vh;
    border: 1px dotted black;
}

.contacto__rows--fondo {
    background-color: $gris-oscuro-transparente-claro;
}

.atencion__caja {
    border: 2px solid black;
}

.atencion__caja--fondo {
    background-color: $gris-oscuro-transparente-claro;
}