.index{
    padding: 1vw 1vh;
    background-color: $gris-oscuro-transparente-oscuro;
    /* max-width: 80vw; */
    margin: 5vh 0vw;
    border: 2px solid black;
}

.articulos__listas {
    list-style-position: inside;
    margin-left: 25px;
}

.main__video {
    padding: 1vw 1vh;
    max-width: 95vw;
}

#gridVideo {
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    }