.vuelos__caja {
    border: 1px solid black;
    margin: 0.5vw 0.5vh;
    padding: 1vw 1vh;
    border-radius: 10px;
}

.vuelos__caja--fondo {
    background-color: $gris-oscuro-transparente-oscuro;
}
