.franklin {
    font-family: $font-franklin;
    color: black;
}

.poppins {
    font-family: $font-poppins;
    color: black;
}

.logo__texto {
    @extend .franklin;
    font-size: 64px;
}

.secciones__texto {
    @extend .franklin;
    font-size: 2rem;
}

.articulos__texto {
    @extend .poppins;
    &--titulo {
        font-size: 3.6rem;
        line-height: 3.8rem;
        text-align: center;
    }
    &--contenido {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}


.index__imagen__principal__texto {
    @extend .franklin;
    font-size: 2rem;
}

.footer__texto {
    @extend .franklin;
    &--contenido {
        font-size: 1.6rem;
    }
    &--titulo {
        font-size: 2rem;
        text-decoration: underline;
    }
}

.nosotros__fotos__texto {
    @extend .poppins;
    font-size: 1.6rem;
    line-height: 2rem;
    &--nombres {
        font-weight: 900;
    }
}

.galeria {
    &__bajada {
        &--texto {
            @extend .poppins;
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }
}

.atencion__texto {
    @extend .poppins;
    text-align: center;
    &--titulo {
        font-size: 3.6rem;
        font-weight: 600;
        text-decoration: underline;
        color: black;
    }
    &--contenido {
        font-size: 1.6rem;
        line-height: 2rem;
        color: black;
    }
    &--contacto {
        font-weight: 600;
        color: black;
    }
}

.consultas__formulario__texto {
    @extend .poppins;
    font-size: 1.6rem;
    line-height: 2em;
    font-weight: 300;
}

.vuelos__caja__texto {
    @extend .poppins;
    font-size: 1.6rem;
    line-height: 2rem;
    &--nombres {
        font-weight: 600;
    }
}


